<p>notification works!</p>

<div style="padding: top 20px;">  
    <input type="button" value=" Success Message" class="btn btn-success mr-1 ml-1" (click)="successmsg()">  
    <input type="button" value=" Error Message" class="btn btn-danger mr-1" (click)="errorsmsg()">    
    <input type="button" value=" Success Message" class="btn btn-info mr-1" (click)="infotoastr()">    
    <input type="button" value=" Info Message" class="btn btn-warning mr-1" (click)="toastrwaring()">    
  </div>  


  <app-header></app-header>
 
 
 
  <app-footer></app-footer>
  
