<!--Main Navigation   navbar-dark pink-->
<header>

  <nav class="navbar fixed-top navbar-expand-lg  navbar-dark pink scrolling-navbar bg-success p-1 mb-5">
    <div class="container">
    <a class="navbar-brand" href="#">
        <!-- <img alt="Brand" src="../../assets/images/colblog-logo-site.png" style="width: 180px;height:55px;margin-top:5px"> -->
          <strong>Colblog</strong>
        </a>
     
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse float-right justify-content-end" id="navbarSupportedContent">
         

        <ul class="navbar-nav mr-auto justify-content-end">


          <div *ngIf="userName !==''" class="float-right ">  
            <li class="nav-item active">
              <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item active">
            <span class="text-light"> User Type : {{usertype}}  </span>
        </li>
          </div>


            

              <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login <span class="sr-only"></span></a>
                  <!-- <a class="nav-link"  href="#">Features</a> -->
              <!-- </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Pricing</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Opinions</a>
              </li>  -->

          </ul>


          <div *ngIf="userName !==''" class="float-right ">  
            <!-- <a class="nav-link" href="#"> Opinions</a> -->
            <span class="text-light"> Welcome {{userName}} ! <a class="ml-2 text-light" (click)="logout()">Logout</a> </span>
           
          </div>
          <br>

          
          
         
      </div>
    </div>
  </nav>

</header>


<div class="mb-5"></div>
<hr>
<div class="mb-5"></div>
<!--Main Navigation-->

<!--Main Layout-->

<!--Main Layout-->


<!-- <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div> -->