<app-header></app-header>

<div class="col-sm-6">
<div class="container-fluid">
<div class="box box-shadow">

  <h2 class="text-center">Create Employer Profile</h2>
 
  

  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Course Name:</label>
      <input type="name" formControlName="cname" placeholder="cname" name="cname" class="form-control" id="cname">
    </div>

    <div class="form-group">
      <label for="fee">Fee:</label>
      <input formControlName="fee" placeholder="fee" name="fee" class="form-control" id="fee">
    </div>

    <div class="form-group">
      <label for="firstName">Course Duration:</label>
      <input type="duration" formControlName="duration" placeholder="duration" name="duration" class="form-control" id="duration">
    </div>


    <div class="form-group">
      <label for="lastName">Course Start Date:</label>
      <input formControlName="sdate" placeholder="date as yyyy-mm-dd" name="sdate" class="form-control" id="sdate">
    </div>

    <button class="btn btn-success">Add </button>
    <a class="btn btn-primary ml-5" [routerLink]="['/home']"> Cancel </a>
  </form>

</div>
</div>
</div>
<app-footer></app-footer>