
<app-header></app-header>

<div class="container bg-faded">
    <h1 class="text-center">Registration Success</h1>
    <div class="row">
        <div class="col text-center">We appreciate your interest choosing our application</div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <div class="mx-auto w-50 p-3 bg-warning text-white text-center">
                <span> Login here <a routerLink="/login">login</a> </span>
            </div>
        </div>
    </div>
</div>

<div class="mb-4"></div>
<div class="mb-4"></div>
<div class="mb-4"></div>
<div class="mb-4"></div>
<app-footer></app-footer>
