
 <app-header></app-header>
 
 
 
 <app-footer></app-footer>
 


<div class="container">
<ul class="list-group list-group-horizontal">
  <li class="list-group-item">
    <a routerLink="/home">home</a>
  </li>
  <li class="list-group-item"> <a routerLink="/login">login</a></li>
  <li class="list-group-item"><a routerLink="/home">home</a></li>
  <li class="list-group-item"><a routerLink="/notification">notification</a></li>
  <li class="list-group-item"><a routerLink="/register-user">register-user</a></li>
  <li class="list-group-item"><a routerLink="/changepassword">changepassword</a></li>
  <li class="list-group-item"><a routerLink="/list-course-enrolements">list-course-enrolements</a></li>
</ul>
<br>
<ul class="list-group list-group-horizontal">
  <li class="list-group-item"><a routerLink="/add-student">add-student</a></li>
  <li class="list-group-item"><a routerLink="/add-courseadmin">add-courseadmin</a></li>
  <li class="list-group-item"><a routerLink="/edit-courseadmin">edit-courseadmin</a></li>

  <li class="list-group-item"><a routerLink="/add-course">add course</a></li>
  <li class="list-group-item"><a routerLink="/edit-course">edit course</a></li>
  <li class="list-group-item"><a routerLink="/list-courses">list-courses</a></li>

 
  <li class="list-group-item"><a routerLink="/page-notfound">pagenotfound</a></li>
</ul>
</div>


<br>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>